@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-color: #ea580c;
}